
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    margin: 0 0;
    padding: 0 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    zoom: 85%;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 50%;
  }

ol li {
    list-style: decimal;
    list-style-position: inside;
    padding: 35px 0 0 0;
    font-size: 13pt;
    margin: 0 70px auto;
}

/*Menu de navigation------------------------------------------------------------------*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    inline-size: 100%;
    box-shadow: 0 2px 30px rgba(83, 83, 83, 0.2);
    z-index: 1000;
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    block-size: 80px;
    margin: 0;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a i {
    vertical-align: middle;
    font-size: 10pt;
}

nav ul li ul {
    background-color: rgba(128, 128, 128, 0.347);
    vertical-align: auto;
    inset-block-start: 60px;
}

nav ul li:hover ul {
    visibility: visible;
}

nav ul li {
    position: relative;
}

#menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 0 0 0 ;
    transition: top 0.8s;
    text-align: center;
    block-size: 53px;
    transition: 0.4s;
}

.nav-container {
    margin: 0 auto;
    display: inline-block;
    float: none;
}

nav li a {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li a:hover {
    color: #b76800;
}

.lang-wrapper {
    padding: 0 0 0 0;
    display: flex;
    background-color: #f8f9fa;
    border-bottom-right-radius: 10px;
    block-size: 48px;
    flex-direction: space-between;
}

.lang-wrapper:hover {
    cursor: pointer;
}

.lang-wrapper:not(active) .dropdown-lang {
    display: none;
}

.dropdown-lang {
    margin: 50px 0 0 10px;
    background-color: #f8f9fa;
    block-size: 93px;
    inline-size: 40px;
    display: none;
    position: absolute;
    border-radius: 0 0 5px 5px;
}

nav > li:hover .dropdown-lang {
    display: block;
    z-index: 1;
    display: block;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.dropdown-lang > li:hover {
    background-color: grey;
    inline-size: 40px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.lang-select-fr {
    display: flex;
    flex-direction: column;
    inline-size: 15px;
    block-size: 15px;
    margin: 15px 30px 0 20px;
    cursor: pointer ;
}

.hamburger-icon {
    float: left;
    display: inline-flex;
    block-size: 30px;
    align-items: center;
    margin: 13px 20px;
    padding: 0 10px 5px 10px;
    line-height: 47px;
    inline-size: 40px;
}

.left-nav {
    display: flex;
    flex-direction: flex-start;
    inline-size: 150px;
}

.left-nav:active {
    border: solid 0.1px rgba(128, 128, 128, 0.204);
    cursor: pointer;
}

.left-nav:hover {
    cursor: pointer;
}

.left-nav>span {
    display: inline-flex;
    margin: 19px 0 0 -20px;
    block-size: 20px;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    color: black;
}

/*Alignement horizontale liste*/

nav li {
    color: black;
    display: inline-block;
    padding-block-start: 8px;
    /*Centrage verticale des listes*/
    vertical-align: top;
}

/*Caractères liens de navigation*/

nav > ul > li > a {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 12.5pt;
    display: inline-block;
    text-decoration: none;
    padding: 7px 40px 0 40px;
    color: black;
    text-align: center;
}

nav > ul li:hover .dropdown {
    display: block;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.dropdown {
    display: none;
    visibility: hidden;
    border-block-start: 8px solid rgb(182, 125, 125);
    block-size: 202px;
    inline-size: 350px;
    background-color: #f8f9fa;
    box-shadow: 0 0 15px 1px rgb(172, 172, 172);
    margin: -9px 0 0 12px;
    position: absolute;
    z-index: 1000;
}

.dropdown ul li {
    position: relative;
}

.dropdown a {
    color:black;
}

.dropdown > li {
    border: solid thin #f8f9fa;
    display: flex;
    inline-size: 100%;
    block-size: 48.5px;
    font-size: 10pt;
    padding: 16px 10px;
    margin: -1px 0 1.5px 0;
    text-align: start;
    text-decoration: none;
    float: none;
    border-block-start: 0.1px solid transparent;
    border-block-end: 0.1px solid transparent;
    border-inline-start: 0.1px solid transparent;
    border-inline-end: 0.1px solid transparent; 
}

.dropdown > li:hover {
    background-color: rgb(190, 190, 190);
    transition-delay: 20ms;
}

.dropdown li:hover a {
    color: rgb(255, 255, 255);
}

.menu-Titre-4:hover i,
.menu-Titre-2:hover i,
.menu-Titre-3:hover i,
.menu-Titre-1:hover i  {
    transform: rotate(-180deg);
    transition-duration: 500ms;
}

.menu-Titre-4:hover,
.menu-Titre-2:hover,
.menu-Titre-3:hover,
.menu-Titre-1:hover  {
    cursor: pointer;
}

.menu-Titre-4:not(:hover) i,
.menu-Titre-2:not(:hover) i,
.menu-Titre-3:not(:hover) i,
.menu-Titre-1:not(:hover) i {
    transform: rotate(0deg);
    transition-duration: 500ms;
}

.menu-Titre-4 {
    inline-size: 220px;
    block-size: 52px;
    white-space: nowrap;
}

.menu-Titre-3 {
    inline-size: 220px;
    block-size: 52px;
    white-space: nowrap;
}

.menu-Titre-2 {
    inline-size: 220px;
    block-size: 52px;
    white-space: nowrap;
}

.menu-Titre-1 {
    inline-size: 220px;
    block-size: 52px;
    white-space: nowrap;
}

/*Section principale de la page*/

.top-img {
    position: relative;
    text-align: center;
    margin-block-end: 50px;
}

.title-country {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.593);
    color: white;
    transform: translate(-50%, -50%);
    inset-block-start: 88%;
    padding: 20px 0 20px 300px;
    inline-size: 635px;
    font-size: 1.5em;
    font-weight: 150px;
    letter-spacing: 15px;
    opacity: 0.3;
}

.title-country:hover {
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.title-country::before {
    content: "";
    position: absolute;
    display: inline-block;
    inline-size: 92%;
    block-size: 5px;
    inset-block-start: 50px;
    inset-inline-start: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.6s ease;
}

.title-country:hover::before {
    transform: scaleX(1);
}

div.summarize-box {
    inline-size: 90%;
    margin-inline-start: 70px;
}

.summarize-box {
    display: flex;
    border: solid 1px brown;
    padding: 10px;
    margin-block-end: 1em;
    font-size: 1em;
}

.summarize-box li {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 6px;
    inline-size: 550px;
    line-height: 1cm;
    font-size: 15pt;
    border-radius: 5px 5px 5px 5px;
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
}

.summarize-box>ul>li>a {
    text-decoration: none;
    color: brown;
}

.number {
    display: inline-block;
}

.summarize-box>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
    padding-inline-start: 30px;
    inline-size: 0.5em;
}

Main {
    max-inline-size: 1200px;
    /* Ceci permet d'éviter le stretch du div selon zoom -/+ */
    margin: auto;
    /* Ceci permet de centrer le div selon zoom -/+ */
    min-block-size: 5800px;
    /* min-height pour le footer */
    box-shadow: 0 1px 10px rgba(83, 83, 83, 0.091);
}

.main-text>h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(182, 125, 125);
}

.main-text>h2 {
    padding: 25px 0 45px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(182, 125, 125);
}

p {
    padding: 35px 20px 35px 0;
    line-height: 1.2cm;
    font-size: 16pt;
    margin: 0 70px auto;
    justify-content: auto;
}

h1 {
    padding: 35px 20px 10px 0;
    line-height: 0.95cm;
    font-size: 30pt;
    margin: 0 70px auto;
    justify-content: auto;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: bold;
}

aside {
    inline-size: 30%;
    padding-inline-start: 15px;
    margin-inline-start: 10px;
    float: inline-end;
    position: fixed;
    background-color: lightgray;
}

/*Contenu de texte brut*/

.main-text {
    min-block-size: 100%;
    /*min-height*/
    position: relative;
}

div.row-panorama-img {
    inline-size: 94%;
    block-size: auto;
    padding: 0 0 0 70px;
    text-align: center;
}

.notice {
    inline-size: 85%;
    margin: 0 0 0 68px;
    padding: 15px 20px 0 0;
    border: solid thin white;
    overflow-wrap: break-word;
}

.text-notice {
    line-height: 2em;
    margin: 8px 25px 5px 30px;
    padding: 0 0 18px 0;
    text-align: justify;
    font-size: 14pt;
}

#images-section {
    text-align: center;
    margin: 0 50px 0 0;
}

#ModalImg1,#ModalImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#ModalImg1:hover,#ModalImg2:hover {
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    inline-size: 100%; /* Full width */
    block-size: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: hidden;
}

.modal-content {
    margin: auto;
    display: block;
    block-size: 90%;
    max-inline-size: 40%;
}

#caption1, #caption2 {
    margin: auto;
    display: block;
    inline-size: 80%;
    max-inline-size: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    block-size: 150px;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close1,.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close1:hover,
.close2:hover,
.close1:focus,
.close2:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

i.fa-triangle-exclamation {
    font-size: 20pt;
}

i.fa-lightbulb {
    font-size: 20pt;
}

.image-element {
    display: inline-block;
    margin: 8px 0 0 3px;
}

.image-element>img {
    inline-size: 450px;
    block-size: 550px;
}

figcaption {
    font-size: 1em;
    font-style: italic;
    background-color: rgb(195, 195, 195);
    padding: 5px 5px 5px 5px;
}

#banner-section {
    text-align: center;
}

.banner-element {
    display: inline-block;
    margin: 100px 80px 0 140px;
}

.banner-element>img {
    inline-size: 800px;
    block-size: 400px;
    margin: 0 0 0 -50px;
}

.about-the-author {
    inline-size: 90%;
    margin: 80px 0 0 70px;
    padding: 40px 50px 20px 0;
    background-color: rgb(253, 242, 242);
    border: solid thin rgba(128, 128, 128, 0.145);
    overflow-wrap: break-word;
}

.avatar {
    block-size: 100%;
    float: left;
    block-size: 170px;
    inline-size: 165px;
    border-radius: 120px;
    margin: 0 50px;
}

.bg-image-author {
    display: none;
}

.title-author-content {
    font-weight: bold;
    font-size: 0.8em;
    font-family: sans-serif;
}

.text-author-content {
    line-height: 1.5em;
    margin: 0 10px 0 270px;
    padding: 20px 0 30px 0;
    font-size: 12pt;
}

/*Image de couverture de l'article*/
#cover-image1 {
    inline-size: 100%;
    block-size: 80%;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

/*Footer en fin de la page---------------------------------------------------------------------------*/
footer {
    background-color: rgb(255, 231, 231);
    color: black;
    inline-size: 100%;
    border-block-start: 1px black;
    padding-inline-start: 0;
    margin: 0;
}

footer a {
    color: black;
    text-decoration: none;
}

.contenu-footer {
    inline-size: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.7em;
    padding: 50px 0 50px;
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    inline-size: 25%;
    margin: 0 30px;
}

.contenu-footer h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1cm;
}

.bloc-footer-services h3,
.bloc-footer-contact h3,
.bloc-footer-horaires h3 {
    font-size: 1em;
    padding-block-end: 15px;
}

.listes-services,
.listes-horaires,
.listes-contact {
    list-style-type: none;
}

.listes-services li {
    padding: 2px 0;
    inline-size: 8cm;
    line-height: 0.8cm;
}

.listes-contact li {
    padding: 2px 0;
    inline-size: 8cm;
    line-height: 0.8cm;
}

.listes-horaires li {
    padding: 2px 0;
    inline-size: 8cm;
    line-height: 0.8cm;
}

.listes-services a,
.listes-contact a,
.listes-horaires a {
    text-decoration: none;
    color: black;
}

.listes-services a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    padding-inline-start: 5px;
    color: grey;
}

.listes-horaires a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: grey;
    padding-inline-start: 5px;
}

.copyright {
    background-color: rgb(255, 231, 231);
    border-block-start: 1px solid rgb(192, 192, 192);
    padding-block-start: 14px;
    block-size: 45px;
}

.copyright li {
    font-size: 8pt;
    text-align: center;
    padding-inline-end: 580px;
}

.text-copyright {
    font-size: 11pt;
}

/*Formulaire pour commenter*/

.section-comments {
    block-size: 650px;
    padding: 20px 10px 10px 30px;
    margin: 50px 45px 35px 90px;
}

.section-comments>h1 {
    font-size: 15pt;
    font-style: normal;
    font-weight: bold;
    color: rgb(87, 87, 87);
    margin: -30px 0 0 0;
}

.section-comments>p {
    padding: 10px 0 0 0;
    font-size: 13pt;
    margin-inline-start: 0;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 12pt;
}

.col-25 {
    float: inline-start;
    inline-size: 25%;
    margin-block-start: 5px;
}

.row:after {
    /*effacer le floating après les colonnes*/
    display: table;
    clear: both;
}

input[type=Text] {
    padding: 0 0 5px 10px;
    margin: 0 20px 0 0;
    block-size: 40px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    inline-size: 98%;
    transition: all 0.3s;
    background-color: #f8f9fa;
}

input[type=Text]:hover {
    margin-inline-start: 10px;
    box-shadow: 0 0 5px 0 rgb(172, 172, 172);
    transition: all 0.3s;
}

input[type=Text]:focus::placeholder {
    color: transparent;
}

input[type=Text]:focus {
    margin-inline-start: 10px;
    outline: none;
    box-shadow: 0 0 5px 0 rgb(172, 172, 172);
}

input[type=Text]:active {
    border-color: red;
}

input[type=Email] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-inline-start: 0;
    padding: 0 0 5px 10px;
    border: none;
    block-size: 40px;
    inline-size: 98%;
    transition: all 0.3s;
    background-color: #f8f9fa;
}

input[type=Email]:hover {
    margin-inline-start: 10px;
    box-shadow: 0 0 5px 0 rgb(172, 172, 172);
}

input[type=Email]:focus::placeholder {
    color: transparent;
    margin-inline-start: 10px;
}

input[type=Email]:focus {
    margin-inline-start: 10px;
    box-shadow: 0 0 5px 0 rgb(172, 172, 172);
    outline: none;
}

textarea {
    transition: all 0.3s;
    inline-size: 98%;
    block-size: 150px;
    padding: 10px 0 0 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    resize: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f8f9fa;
}

textarea:hover {
    resize: none;
    transition: all 0.3s;
    outline: none;
    box-shadow: 0 0 5px 0 rgb(172, 172, 172);
    margin-inline-start: 10px;
    padding: 0.3cm 0.3cm;
    border: none;
}

textarea:focus::placeholder {
    color: transparent;
}

textarea:focus {
    margin-inline-start: 10px;
    outline: none;
}

button[type=submit] {
    font-size: 0.7em;
    margin: 10px 0 0 0;
    padding: 0 0.3cm 0 0.3cm;
    block-size: 50px;
    inline-size: 98%;
    border: solid thin rgba(128, 128, 128, 0.271);
    box-sizing: border-box;
    letter-spacing: 1pt;
    background-color: rgb(255, 231, 231);
    transition: 0.6s;
}

button[type=submit]:hover {
    box-shadow: 0 0 4px 1px rgb(172, 172, 172);
    color: #b76800;
    cursor: pointer;
    transition-duration: 0.5s;
}

button[type=submit]:not(:hover) {
    transition: 0.6s;
    transition-duration: 0.8s;
    color: black;
}

button[type=submit]:active {
    font-size: 0.65em;
    box-shadow: unset;
    transition: 0.1s;
    color: #b76800;
    font-weight: bold;
    outline: none;
}

#btn-top {
    inline-size: 55px;
    block-size: 55px;
    display: none;
    position: fixed;
    align-items: center;
    vertical-align: center;
    inset-block-end: 50px;
    inset-inline-end: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.6;
}

#btn-top:hover {
    background-color: rgb(138, 220, 255);
}

i.fa-angle-up {
    display: block;
}

::placeholder {
    font-size: 10pt;
    color: rgb(157, 157, 157);
    padding: 5px 0 0 3px;
}

/* Small screen Responsive */

@media screen and (max-width: 350px) {

* {
    box-sizing: border-box;
}

html {
    margin: 0 0;
    padding: 0 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 0;
    padding: 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-Titre-1,
.menu-Titre-2,
.menu-Titre-3,
.menu-Titre-4,
#logo-galago {
    display: none;
}

.listes-services, .listes-horaires,.listes-contact {
    font-size: 8pt;
}

nav {
    inline-size: 100%;
    text-align: center;
    block-size: 5px;
}

#menu {
    display: inline-flex;
    justify-content: space-between;
    inset-block-start: 0;
    transition: top 0.8s;
    text-align: center;
    block-size: 50px;
    transition: 0.4s;
}

.main-text {
    min-block-size: 100%;
    font-size: 8pt;
    position: relative;
}

.title-country {
    display: none;
}

.lang-wrapper {
    padding: 0 0 0 0;
    display: flex;
    background-color: #f8f9fa;
    border-bottom-right-radius: 10px;
    block-size: 45px;
}

p {
    padding: 20px 0 0 0;
    line-height: 0.8cm;
    font-size: 10pt;
    justify-content: auto;
    margin: 20px 12px;
}

h1 {
    padding: 50px 10px 0 0;
    line-height: 0.95cm;
    font-size: 17pt;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 0 0 -25px 15px;
    font-weight: bold;
}

.summarize-box li {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    inline-size: 300px;
    line-height: 0.6cm;
    font-size: 12pt;
    white-space: wrap;
    flex-wrap: wrap;
}

.summarize-box > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: -5px -20px;
    padding: 0 0 0 20px;
    white-space: wrap;
    flex-wrap: wrap;
}

div.summarize-box {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px ;
    margin: 50px 0 0 10px; 
    inline-size: 95%;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 95%;
    margin: 60px 0 60px 7px;
    padding: 0 0 20px 0;
}

.avatar {
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -20px 80px 20px 85px;
    z-index: 2;
}

.bg-image-author {
    display: flex;
    z-index: 1;
    margin: -120px 0 0 0;
    padding: -120px 0 0 0;
    block-size: 150px;
    inline-size: 100%;
}

.title-author-content {
    font-weight: bolder;
    font-size: 0.7em;
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0 0 0;
}

.text-author-content {
    line-height: 1.5em;
    margin: 20px 0 0 20px;
    padding: 0 20px 0 0;
}

#btn-top {
    inline-size: 25px;
    block-size: 25px;
    display: none;
    position: fixed;
    align-items: center;
    vertical-align: center;
    inset-block-end: 10px;
    inset-inline-end: 10px;
    z-index: 9999;
    font-size: 8px;
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    color: white;
    cursor: pointer;
    padding: 5px 5px 5px 5px; 
    border-radius: 4px;
    opacity: 0.6;
}

.section-comments {
    block-size: 650px;
    inline-size: 90%;
    padding: 10px 10px 10px 25px;
    margin: 10px 20px 35px 15px;
}

.section-comments>p {
    padding: 0 0 0 0;
    font-size: 8pt;
    line-height: 1.8em;
    margin-inline-start: -5px;
}

.section-comments>h1 {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(87, 87, 87);
    padding: 25px 0 0 0;
    margin: -25px 0px 15px 0px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 9pt;
}

input[type=Text] {
    padding: 0 0 5px 5px;
    margin: 0 20px 0 0;
    inline-size: 95%;
}

input[type=Text]::placeholder {
    font-size: 8pt;
}

input[type=Text]:focus,
input[type=Text]:hover,
input[type=Text]:active {
    margin-inline-start: 0;
}

input[type=Email] {
    inline-size: 95%;
}

input[type=Email]::placeholder {
    color: white;
}

input[type=Email]:hover,
input[type=Email]:focus,
input[type=Email]:active {
    margin-inline-start: 0;
}

textarea:hover,
textarea:focus,
textarea:active {
    margin-inline-start: 0;
}

textarea {
    inline-size: 96%;
}

textarea::placeholder {
    font-size: 8pt;
}

button[type=submit] {
    margin: 2px 0 0 0;
    padding: 0 0.3cm 0 0.3cm;  
    inline-size: 95%;
}

.contenu-footer {
    inline-size: 950px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 0.9em;
    margin: 0 0 0 20px;
    padding: 30px 0 50px;
}

.contenu-footer h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1cm;
    padding: 5px 0 10px 0;
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    inline-size: 20%;
    margin: 0 5px;
}

.listes-services,
.listes-horaires,
.listes-contact {
    list-style-type: none;
    padding: 0 0 30px 0;
}

.copyright {
    border-block-start: 1px solid rgb(192, 192, 192);
    padding: 6px 0 0 10px;
    inline-size: 100%;
}

.text-copyright {
    inline-size: 100%;
}

.copyright li {
    font-size: 6pt;
    line-height: 0.3cm;
    text-align: center;
    padding: 0 20px 0 0;
    inline-size: 100%;
    white-space: wrap;
}

.top-img {
    margin: 50px 0 -15px 0;
    padding: 5px 5px 0 5px;
}

iframe {
    padding: 20px 55px 0 65px !important;
    margin: 10px 50px 10px 30px;
    block-size: 360px;
    inline-size: 87.5%;
}

.banner-element>img {
    padding: -50px 0 0 0; 
    inline-size: 250px;
    block-size: 130px;
    margin: -120px -40px 25px -100px;
}

.notice {
    margin: 0 35px 0 20px;
    inline-size: 88%;
}

.text-notice {
    font-size: 13pt;
}

#images-section {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 5px;
    text-align: center;
}

.image-element>img {
    inline-size: 100%;
    block-size: 380px;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {
    
.left-nav>span {
    display: inline-flex;
    margin: 18px 0 0 -10px;
    block-size: 20px;
    font-size: 10pt;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    color: black;
}

.avatar {
    display: flex;
    flex-direction: column;
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -9% 20% 4% 37%;
    z-index: 2;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 94%;
    margin: 80px 0 60px 15px;
    padding: 0 0 20px 0;
}

.title-country {
    display: none;
}

div.summarize-box {
    inline-size: 93%;
}

.section-comments {
    inline-size: 92%;
}

div.section-comments > p, 
div.section-comments > form {
    margin: 0 15px 0 0;
}

button[type=submit] {
    block-size: 30px;
    font-size: 12pt;
    vertical-align: center;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width: 350px) and (max-width: 640px) {

.contenu-footer {
    inline-size: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
    margin: 0 0 0 25px;
    padding: 30px 0 50px 0;
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    font-size: 1.3em;
    inline-size: 25%;
    margin: 23px 160px;
    padding: 0 0 0 0;
}

.bloc-footer-services h3,
.bloc-footer-contact h3,
.bloc-footer-horaires h3 {
    font-size: 1em;
    padding-block-end: 5px;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width: 350px) and (max-width: 955px) {

html {
    overflow-x: hidden;
    padding-block-start: 60px;
}

body {
    overflow: hidden;
}

.menu-Titre-1,
.menu-Titre-2,
.menu-Titre-3,
.menu-Titre-4,
#logo-galago {
    display: none;
}

p {
    padding: 35px 0;
    line-height: 1.5cm;
    font-size: 18pt;
    text-align: normal;
    margin: 0 20px;   
}

h1 {
    padding: 50px 10px 10px 0;
    line-height: 0.95cm;
    font-size: 25pt;
    justify-content: auto;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: -15px 23px;
    font-weight: bold;
}

.main-text {
    min-block-size: 100%;
    /*min-height*/
    font-size: 8pt;
    position: relative;
}

#menu {
    display: inline-flex;
    justify-content: space-between;
    inset-block-start: 0;
    transition: top 0.8s;
    text-align: center;
    block-size: 55px;
    transition: 0.4s;
}

nav {
    position: absolute fixed;
}

nav li {
    display: inline-block;
}

.dropdown {
    display: none !important;
}

.top-img {
    position: relative;
    margin: 0 0 -15px 0;
    padding: 5px 5px 0 5px;
}

.title-country {
    display: none;
}

#btn-top {
    inline-size: 45px;
    block-size: 45px;
    display: none;
    position: fixed;
    align-items: center;
    vertical-align: center;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(211, 211, 211);
    color: white;
    padding: 10px;
    border-radius: 4px;
    opacity: 0.6;
}

.main-text {
    min-block-size: 100%;
    /*min-height*/
    font-size: 10pt;
    position: relative;
}

footer,
.col-25,
.col-75,
input[type=submit] {
    inline-size: 100%;
}

.summarize-box li {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    inline-size: 600px;
    line-height: 0.6cm;
    font-size: 13pt;
    flex-wrap: wrap;
}

.summarize-box > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: -5px -20px;
    padding: 0 0 0 20px;
    flex-wrap: wrap;
}

div.summarize-box {
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px ;
    margin: 50px 0 0 18px;
    inline-size: 95%;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 97%;
    margin: 80px 0 60px 6px;
    padding: 0 0 20px 0;
}

.summarize-box {
    display: flex;
    border: solid 0.5px brown;
}

.notice {
    margin: 0 0 0 40px;
}

.avatar {
    display: flex;
    flex-direction: column;
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -8% 20% 4% 35%; 
    z-index: 2;
}

.bg-image-author {
    display: flex;
    z-index: 1;
    margin: -120px 0 0 0;
    padding: -120px 0 0 0;
    block-size: 150px;
    inline-size: 100%;
}

.title-author-content {
    font-weight: bolder;
    font-size: 0.7em;
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0 0 0;
}

.text-author-content {
    line-height: 1.5em;
    margin: 20px 0 0 20px;
    padding: 0 20px 0 0;
}

.section-comments {
    block-size: 620px;
    inline-size: 94%;
    padding: 20px 10px 10px 30px;
    margin: 50px 45px 35px 18px;
}

.section-comments>h1 {
    font-size: 13pt;
    font-weight: bold;
    color: rgb(87, 87, 87);
    margin: 0 0 0 0;
}

.section-comments>p {
    padding: 10px 0 0 0;
    font-size: 11pt;
    margin-inline-start: 0;
    inline-size: 100%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 11pt;
}

::placeholder {
    font-size: 8pt;
    color: rgb(157, 157, 157);
    padding: 5px 0 0 3px;
}

textarea {
    block-size: 100px;
}

button[type=submit] {
    margin: 0 0 20px 0;
    block-size: 65px;
    font-size: 12pt;
    vertical-align: center;
}

input[type=Text]:focus,
input[type=Text]:hover, 
input[type=Text]:active {
    margin-inline-start: 0;
}

input[type=Email]:focus,
input[type=Email]:hover,
input[type=Email]:active {
    margin-inline-start: 0;
}

Textarea:focus,
Textarea:hover,
Textarea:active {
    margin-inline-start: 0;
}

.copyright {
    border-block-start: 1px solid rgb(192, 192, 192);
    padding: 6px 0 0 10px;
    inline-size: 100%;
}

.text-copyright {
    inline-size: 100%;
}

.copyright li {
    font-size: 6pt;
    line-height: 0.3cm;
    text-align: center;
    padding: 0 20px 0 0;
    inline-size: 100%;
    white-space: wrap;
}

.section-comments > h1 {
    font-style: normal;
    padding: 0 0 15px 0;
}

.modal {
    visibility: hidden;    
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
    inline-size: 400px;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {

p {
    font-size: 18pt;
    line-height: 45pt;
}

.avatar {
    display: flex;
    flex-direction: column;
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -9% 10% 4% 40%;
    z-index: 2;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 95%;
    margin: 80px 0 60px 18px;
    padding: 0 0 20px 0;
}

.title-country {
    display: none;
}

.section-comments {
    inline-size: 94%;
}

.contenu-footer {
    inline-size: 950px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 0.7em;
    margin: 0 0 0 30px;
    padding: 50px 0 50px;   
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    font-size: 1.25em;
    inline-size: 20%;
    margin: 0 5px;
}

#images-section {
    text-align: center;
    margin: 0 12px 0 0;
}

div.section-comments > h1, 
div.section-comments > p, 
div.section-comments > form {
    margin: 0 10px 0 0;
}

.modal {
    visibility: hidden;    
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
    inline-size: 400px;
    }
}

@media screen and (min-width: 800px) and (max-width: 954px) {

.avatar {
    display: flex;
    flex-direction: column;
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -9% 10% 4% 43%;
    z-index: 2;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 97%;
    margin: 80px 0 60px 13px;
    padding: 0 0 20px 0;
}

.title-country {
    display: none;
}

.section-comments {
    inline-size: 96%;
}

.contenu-footer {
    inline-size: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 0.7em;
    margin: 0 0 0 40px;
    padding: 50px 0 50px;
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    font-size: 1em;
    inline-size: 15%;
    margin: 0 45px;
}

div.section-comments > h1, 
div.section-comments > p, 
div.section-comments > form {
    margin: 0 10px 0 0;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width: 350px) and (max-width: 599px) {

p {
    font-size: 20pt;
    line-height: 1.6cm;
    ;
}

.left-nav>span {
    margin: 18px 0 0 -20px;
}

.avatar {
    display: flex;
    flex-direction: column;
    float: center;
    block-size: 120px;
    inline-size: 120px;
    border-radius: 120px;
    margin: -9% 15% 4% 37%;
    z-index: 2;
}

.about-the-author {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    inline-size: 94%;
    margin: 80px 0 60px 15px;
    padding: 0 0 20px 0;
}

.title-country {
    display: none;
}

div.summarize-box {
    inline-size: 93%;
}

.section-comments {
    inline-size: 92%;
}

button[type=submit] {
    block-size: 30px;
    font-size: 12pt;
    vertical-align: center;
}

button[type=submit] {
    font-size: 0.7em;
    margin: 0 0 0 0; 
    padding: 0 0.3cm 0 0.3cm;
    block-size: 40px;
    inline-size: 98%;
}

.section-comments {
    inline-size: 92%;
}

.contenu-footer {
    inline-size: 950px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 0.7em;
    margin: 0 0 0 30px;
    padding: 30px 0 50px;
}

.contenu-footer h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1cm;
    padding: 5px 0 10px 0;
}

.bloc-footer-contact,
.bloc-footer-horaires,
.bloc-footer-services {
    inline-size: 20%;
    margin: 0 5px;   
}

.listes-services,
.listes-horaires,
.listes-contact {
    list-style-type: none;
    padding: 0 0 30px 0;
}

#images-section {
    text-align: center;
    margin: 0 0 15px;
}

iframe {
    padding: 0px 40px 37px 25px !important;
    margin: 10px 50px 10px 40px;
    block-size: 255px;
    inline-size: 87.5%;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width: 950px) and (max-width: 1200px) {

html,
body {
    overflow-x: hidden;
}

p {
    padding: 35px 0;
    line-height: 1.5cm;
    font-size: 25px;
    justify-content: auto;
    margin: 0 40px;
}

h1 {
    padding: 50px 10px 10px 0;
    line-height: 0.95cm;
    font-size: 30pt;
    margin: 0 70px auto;
    justify-content: auto;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 0 37px;
    font-weight: bold;
}

#menu {
    display: inline-flex;
    text-align: start;
}

.menu-Titre-1,
.menu-Titre-2,
.menu-Titre-3,
.menu-Titre-4,
#logo-galago {
    display: none;
}

nav> ul > .menu-Titre-1 > a {
    padding: 17px 40px 10px 40px;
}

.lang-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 0;
    margin: -20px 5px 5px 5px;
}

.dropdown-lang {
    margin: 72px 0 0 0;
    text-align: center;
    inline-size: 40px;
    display: none;
    position: absolute;
}

.lang-select-fr {
    display: flex;
    flex-direction: column;
    block-size: 20px;
    inline-size: 20px;
    margin: 33px 30px 0 9px;
    cursor: pointer;
}

.lang-select-fr:hover {
    padding: 1px 1px 1px 1px;
}

.title-country {
    display: none;
}

div.summarize-box {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 48px;  
    inline-size: 95%;
}

.summarize-box li {
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0;
    inline-size: 600px;
    line-height: 1cm;
    font-size: 14pt;
    flex-wrap: wrap;
}

.summarize-box>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: -5px -20px;
    padding: 0 0 0 30px;
    flex-wrap: wrap;
}

button[type=submit] {
    margin: 0 0 20px 0;
    block-size: 55px;
    font-size: 12pt;
    vertical-align: center;
}

.about-the-author {
    inline-size: 90%;
    margin: 0 0 0 40px;
    padding: 40px 50px 20px 40px;
    background-color: rgb(253, 242, 242);
    border: solid thin rgba(128, 128, 128, 0.145);
    overflow-wrap: break-word
}

.avatar {
    block-size: 100%;
    float: left;
    block-size: 170px;
    inline-size: 165px;
    border-radius: 120px;
    margin: 25px 30px;
}

.title-author-content {
    padding: 0 0 0 73px;
    font-weight: bold;
    font-size: 0.8em;
    font-family: sans-serif;
}

.section-comments {
    padding: 20px 10px 10px 30px; 
    margin: 50px 45px 35px 40px;
}

.copyright {
    border-block-start: 1px solid rgb(192, 192, 192);
    padding: 6px 0 0 10px;
    inline-size: 100%;
}

.text-copyright {
    inline-size: 100%;
}

.copyright li {
    font-size: 6pt;
    line-height: 0.3cm;
    text-align: center;
    padding: 0 20px 0 0;
    inline-size: 100%;
    white-space: wrap;
}

.notice {
    margin: 0 0 0 35px;
    inline-size:92%;
}

iframe {
    padding: 0px 0px 35px 25px !important;
    margin: 10px 50px 10px 40px;
    block-size: 343px;
    inline-size: 87.5%;
}

.section-comments > h1 {
    font-style: normal;
    margin: -23px 0px 0px 0;
}

.modal {
    visibility: hidden;    
    }
}

/** RESPONSIVE IMAGES**/

@media screen and (min-width:821px) and (max-width:963px) {

#images-section {
    display: flex;
    flex-direction: row;
    margin: 0 50px 0 20px;
}

.image-element>img {
    inline-size: 390px;
    block-size: 600px;
}

.banner-element>img {
    inline-size: 700px;
    block-size: 280px;
    margin: -100px 0 0 -50px;
}

iframe {
    padding: 0px 0px 35px 20px !important;
    margin: 10px 90px -15px 20px;
    block-size: 343px;
    inline-size: 87%;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width:720px) and (max-width:821px) {

.image-element>img {
    inline-size: 700px;
    block-size: 800px;
}

.banner-element>img {
    inline-size: 600px;
    block-size: 270px;
    margin: -100px 0 0 -50px;
}

iframe {
    padding: 0px 0px 37px 25px !important;
    margin: 10px 50px 10px 13px;
    block-size: 343px;
    inline-size: 90%;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width:620px) and (max-width:720px) {

.image-element>img {
    inline-size: 600px;
    block-size: 700px;
}

.banner-element>img {
    inline-size: 450px;
    block-size: 250px;
    margin: -100px 0 0 -50px;
}

div.section-comments > h1, 
div.section-comments > p, 
div.section-comments > form {
    margin: 0 10px 0 0;
}

iframe {
    padding: 0 2px 37px 25px !important;
    margin: 10px 50px 10px 13px;
    block-size: 344px;
    inline-size: 90%;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width:520px) and (max-width:620px) {

p {
    font-size: 20pt;
}

.image-element>img {
    inline-size: 500px;
    block-size: 600px;
}

.banner-element>img {
    inline-size: 400px;
    block-size: 200px;
    margin: -100px 0 0 -75px;
}

div.section-comments > h1, 
div.section-comments > p, 
div.section-comments > form {
    margin: 0 15px 0 0;
}

iframe {
    padding: 0px 0px 36px 25px !important;
    margin: 10px 50px -10px 13px;
    block-size: 342px;
    inline-size: 90%;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width:420px) and (max-width:520px) {

p {
    font-size: 18pt;
}

#images-section {
    text-align: center;
}

.map-1 > img{
    block-size: 500px !important;
    inline-size: 500px !important;
}

.image-element>img {
    inline-size: 400px;
    block-size: 500px;
}

.banner-element>img {
    inline-size: 330px;
    block-size: 180px;
    margin: -100px 0 0 -50px;
}

div.section-comments > h1, 
div.section-comments > p, 
div.section-comments > form {
    margin: 0 15px 0 0;
}

::placeholder {
    font-size: 7pt;
}

iframe {
    padding: 0 2px 12px 25px !important;
    margin: 10px 40px 50px 13px;
    block-size: 320px;
    inline-size: 90%;
}

.modal {
    visibility: hidden;    
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
    inline-size: 400px;
    }
}

@media screen and (min-width:320px) and (max-width:420px) {

p {
    font-size: 18pt;
    line-height: 1.4cm;
}

#images-section {
    text-align: center;
}

.image-element {
    display: inline-block;
    margin: 8px 5px 0px 3px;
}

.image-element > img {
    inline-size: 100%;
    block-size: 660px;
}

.map-1 > img{
    block-size: 520px !important;
    inline-size: 100% !important;
}

.banner-element>img,
.banner-section {
    display: none;
}

#menu {
    block-size: 50px;
}

.hamburger-icon {
    float: left;
    display: inline-flex;
    block-size: 30px;
    align-items: center;
    margin: 12px 10px;
    padding: 0 10px 5px 10px;
    line-height: 47px;
    inline-size: 40px;
}

.left-nav>span {
    display: inline-flex;
    margin: 18px 0 0 -10px;
    block-size: 20px;
    font-size: 10pt;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    color: black;
}

div.section-comments {
    margin: -140px 0px 100px 0px;
}

div.section-comments > h1,
div.section-comments > p, 
div.section-comments > form {
    margin: 0 15px 0 -5px;
}

::placeholder {
    font-size: 7.5pt;
}

.lang-wrapper {
    block-size: 48px;
}

.notice {
    margin: 0 0 20px 35px;
}

.text-notice {
    font-size: 16pt;
}

i.fa-triangle-exclamation {
    font-size: 14pt;
}

i.fa-lightbulb {
    font-size:14pt;
}

iframe {
    padding: 25px 5px 10px 45px !important;
    margin: 25px 45px 40px 30px;
    block-size: 374px;
    inline-size: 87.5%;
}

.modal {
    visibility: hidden;    
}

h2 {
    padding:20px 0 0 23px !important;
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
    inline-size: 380px;
    }
}

@media screen and (max-width:320px) {

p {
    font-size: 14pt;
}

.left-nav > span {
    display: inline-flex;
    margin: 18px 0 0 -10px;
    block-size: 20px;
    font-size: 10pt;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    color: black;
}

#images-section {
    text-align: center;
}

.map-1 > img{
    block-size: 420px !important;
    inline-size: 100% !important;
}

.banner-element {
    margin: 85px -65px 25px 5px;
}

.banner-element > img {
    inline-size: 250px;
    block-size: 120px;
}

.hamburger-icon {
    float: left;
    display: inline-flex;
    block-size: 30px;
    align-items: center;
    margin: 12px 10px;
    padding: 0 10px 5px 10px;
    line-height: 47px;
    inline-size: 40px;
}

.lang-wrapper {
    block-size: 50px;
}

.notice {
    margin: 0 0 0 15px;
    inline-size: 90%;
}

.text-notice {
    font-size: 16pt;
}

i.fa-triangle-exclamation {
    font-size: 14pt;
}

i.fa-lightbulb {
    font-size:14pt;
}

.modal {
    visibility: hidden;    
    }
}

@media screen and (min-width:955px) and (max-width:1400px) {

#images-section {
    text-align: center;
    margin: 0 35px 0 20px;
}

div.summarize-box {
    inline-size: 90%;
    margin-inline-start: 35px;
}

.summarize-box li:hover {
    background-color: rgba(128, 128, 128, 0.256);
    inline-size: 450px;
    }
}

@media screen and (min-width:1200px) and (max-width:1600px) {
    
div.summarize-box {
    inline-size: 90%;
    margin-inline-start: 70px;
}

.lang-wrapper {
    block-size: 50px;
}

.modal-content {
    margin: auto;
    display: block;
    block-size: 80%;
    max-inline-size: 70%;
    }
}

@media screen and (min-width:1600px) {

.lang-wrapper {
    padding: 0 0 0 0;
    display: flex;
    background-color: #f8f9fa;
    border-bottom-right-radius: 10px;
    block-size: 46px;
    flex-direction: space-between;
}

div.summarize-box {
    inline-size: 90%;
    margin-inline-start: 65px; 
    }
}
